
/*body background is white, text is grey */

body 
{ 
	background-color: #ffffff;
	font-family: futura; 
	color: #666655;
}

h1 
{
	color: #aa9999;
	font-size: 26px;
	text-align: center;
}

h2 
{
	color: #bb9988;
	font-size: 18px;
	text-align: center;
}

h3 
{
	color: #666655;
	font-size: 16px;
	text-align: center;
}

ul 
{
  overflow: hidden;
  padding-left: 2em; 
  }
  
td.pictureSide
{
	background-color: #DB7B66;
	margin-left: 5%;
	margin-right: 5%;
}
  
/*float a picture left*/
.floatPicLeft
 {
	float: left;
	margin: 4px;
}
/*float a picture right*/
.floatPicRight 
{
	float: right;
	margin: 4px;
}
/*center a picture*/
img.center 
{   
	display: block;   
	margin-left: auto;   
	margin-right: auto; 
}

li.heading
{
	font-size: 24px;
	font-weight: bold;
	list-style-type: none;
}

.picCaption
{
	font-style: italic; 
	color: #000000;
	font-size: 12px;
}
/*banner at the top of each page*/
#banner
{
	margin-left: auto ;
	margin-right: auto ;
	background-image:url('banner.png');
	width: 700px;
	height: 300px;
}

#content
{
	background-color: #e0e0e0;
	border-color:  #a1a1a1;
	border-style: double;
	height: 80%;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#footer
{
	background-color: #e0e0e0;
	border-color:  #a1a1a1;
	border-style: double;
	height: 8%;
	top: 98%;
	width: 90%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

#event
{
	background-color: #ccccbb;
	border-color:  #998877;
	border-style: double;
	height: 30%;
	width: 40%;
	float: right;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
				
}

#leftside
{
        width: 50%;
        float: left;
}

#rightside
{
        width: 50%;
        float: right;
           
}

#lbStyles li
{
    list-style-type:upper-roman;            
}


/* This creates all of the navigation bar shtuff */

#navlist
{
	padding: 2px 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #778;
	font: 14px Georgia, sans-serif;
}

#navlist li
{
	list-style: none;
	margin: 0;
	display: inline;
}

#navlist li a
{
	padding: 2px 0.5em;
	margin-left: 3px;
	border: 1px solid #bb9988;
	border-bottom: none;
	background: #ffffff;
	text-decoration: none;
}

#navlist li a:link { color: #997755; }
#navlist li a:visited { color: #666655; }

#navlist li a:hover
{
	color: #000000;
	background: #ccccbb;
	border-color: #bb9988;
}

#navlist li a#current
{
	background: white;
	border-bottom: 1px solid white;
}


/*links and their different colors */
a:link { font-weight: bold; text-decoration: none; color: #997744 }
a:active { font-weight: bold; font-style: italic; color: #997755 }
a:visited { text-decoration: line-through; color: #ffffff }
a:hover { font-style: italic; color: #000000 }

